html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
html,button,input,select,textarea{
	font-family: Arial,Helvetica, sans-serif;
	outline: medium none;
}
body {
    color: #333;
    font: 75%/1.5 Arial,Helvetica,sans-serif;
}
.page{
	background: none repeat scroll 0 0 #f5f5f5;
    min-width: 1140px;
    width: 100%; 
}
.clearer:after, .header-container:after, .header-container .top-container:after, .header:after, .top-bar:after, .quick-access:after, .form-search:after, #nav:after, .main:after, .footer:after, .footer .form-subscribe:after, .footer-container .bottom-container:after, .col-main:after, .col2-set:after, .col3-set:after, .col4-set:after, .search-autocomplete li:after, .block .block-content:after, .block .actions:after, .block li.item:after, .block-poll li:after, .block-layered-nav .currently li:after, .page-title:after, .products-grid:after, .products-list li.item:after, .box-account .box-head:after, .dashboard .box .box-title:after, .order-info ul:after, .box-reviews li.item:after, .box-tags li.item:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after, .add-to-cart:after, .product-essential:after, .product-collateral:after, .product-tabs:after, .product-view .product-img-box .more-views ul:after, .product-view .box-tags .form-add:after, .product-view .product-shop .short-description:after, .product-view .box-description:after, .product-options .options-list li:after, .product-options-bottom:after, .product-review:after, .cart:after, .cart-collaterals:after, .cart .crosssell li.item:after, .opc .step-title:after, .checkout-progress:after, .multiple-checkout .place-order:after, .group-select li:after, .form-list li:after, .form-list .field:after, .buttons-set:after, .page-print .print-head:after, .advanced-search-summary:after, .gift-messages-form .item:after, .send-friend .form-list li p:after, #checkout-step-login .col2-set .col-1:after, #checkout-step-login .col2-set .col-2:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}
.header-container{
	background: none repeat scroll 0 0 #111111;
	width: 100%;
}
